*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    header{
        background-color: black;
        padding: 10px;

    .c1 {
        .ca {
            img {
                width: 100px;
                height: 50px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
        .hed 
        {
            margin-top: 10px;

        ul li
        {
        a{
            
                color: white;
                padding: 5px;
                text-decoration: none;
                margin-right: 10px;
        }
    }
    }
    }
   

}
#s1 {
     padding: 20px;
     padding-bottom: 50px;
    background-color: rgb(238, 238, 238);
    P {
        margin-left: 83%;
    }
    img {
        width: 88%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    }
    #s2 {
       .ra1
       {
        padding: 5px;
        margin-top: 24px;
        margin-bottom: 24px;
       }
      
    }
#s3
{
    background-image: url(2bg.jpg);
    color: white;

    h1{
        padding: 10px;
    }
    .second {
    h5 {
        padding-bottom: 20px;
    }
    #d2 {
        margin-right: 65%;
    }
      }
    .loc
    {
        background-color: white;
        height: 320px;
        img {
            padding: 5px;
        }
        h3 {
            color:black;
        }
    }
}
#s4 {
    margin-bottom: 50px;
    h2 {
        padding: 20px;
    }
    .owl {
        background-color: white;
        p {
            color: gray;
        }
    }
}
#s5
{
background-color: rgb(173, 167, 167);
padding: 30px;
h2{
    padding: 20px;
}
.loca
{
background-color: white;
height: 400px;
}
}
footer {
    background-color: rgb(70, 65, 65);
    color: white;

    h4 {
        padding: 20px;
    }
    .local2 {
        border-bottom: 1px solid white;

    .local {
        border-right: 1px solid white;

    a {
     text-decoration: none;
     color: white;

    }
   }
   }
   .ankar {
    padding-bottom: 20px;
   a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}
} 
div {
    padding-bottom: 25px;
}
}
}